.active {
  background-color: var(--body-color);
  color: var(--first-color) !important;
}

.navlink {
  display: block;
  color: var(--body-color);
  text-decoration: none;
  margin: 0.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  color: var(--body-color);
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
}

.heading:hover {
  background-color: rgba(0, 0, 0, 0.105);
}

.projectsList::-webkit-scrollbar {
  width: 0px;
}

.inputField {
  padding: 0.5rem;
}

.createBtn {
  background-color: var(--first-color) !important;
}

.menuCard_all {
  color: var(--text-color) !important;
}
