.container {
  width: 100%;
  overflow: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  height: 100vh;
  background: url("https://images5.alphacoders.com/128/1280267.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form_heading {
  font-weight: 600 !important;
  font-family: "Nunito", sans-serif !important;
  margin-bottom: 3rem !important;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
  }
}
