.container {
  width: 80%;
  overflow: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.form_heading {
  font-weight: 600 !important;
  font-family: "Nunito", sans-serif !important;
  margin-bottom: 3rem !important;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
