.container {
  width: 100%;
  overflow: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  background: url("https://images5.alphacoders.com/128/1280267.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dash_card_small {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
